body {
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;


}

.searchBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  max-width: 20%;
  border-radius: 5%;
  box-shadow: 5px 5px 10px 2px rgba(225, 223, 223, 0.8);
  background-image: linear-gradient(to right, rgb(248, 243, 243), rgb(225, 224, 228));

  
}

#subBox {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10%;
  
  
}


time {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#input {
 
  text-align: center;
 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

#button {
  display: flex;
  justify-content: center;
  
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

#icon {
  max-width: 50%;
  box-shadow: 20px 5px 10px 1px rgba(223, 230, 231, 0.8);
  border-radius: 90%;
  background-image: linear-gradient(to right, rgba(246, 242, 242, 0), rgb(189, 188, 193));
}

#container{
 display: flex;
}


sub-weather{
  display: flex;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 15%;
  margin: 5%;
  justify-content: center;
  border-radius: 10%;
  box-shadow: 5px 5px 10px 2px rgba(225, 223, 223, 0.8);
  background-image: linear-gradient(to right, rgb(252, 248, 248), rgb(225, 224, 228));
}
