body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
  gap: 3%;
  
  
}
#content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5%;
}
.searchBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
  max-width: 100%;
  margin-bottom: 5%;
  box-shadow: 5px 5px 10px 2px rgba(225, 223, 223, 0.8);
  background-image: linear-gradient(to right, rgb(248, 243, 243), rgb(225, 224, 228)); 
}

#subBox {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 4px;
  padding: 1%;
  
}


time {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 150%;
}
#input {
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

#button {
  display: flex;
  justify-content: center;
  
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

#icon {
  max-width: 30%;
  box-shadow: 20px 5px 10px 1px rgba(223, 230, 231, 0.8);
  border-radius: 90%;
  background-image: linear-gradient(to right, rgba(246, 242, 242, 0), rgb(189, 188, 193));
}

#container{
 display: flex;
 
}

weather{
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}
sub-weather{
  display: flex;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 120%;
  font-weight: 400;
  justify-content: center;
  padding: 5%;
  margin: 2%;
  border-radius: 10%;
  box-shadow: 5px 5px 10px 2px rgba(225, 223, 223, 0.8);
  background-image: linear-gradient(to right, rgb(252, 248, 248), rgb(225, 224, 228));
}
